<a href="https://colab.research.google.com/github/SpyrosAlvanakis/Computing-Statistics/blob/main/1st%20_try.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [11]:
from sklearn import datasets

In [59]:
dataset=datasets.load_diabetes()
data = dataset['data']
target = dataset["target"]

In [60]:
data = pd.DataFrame(data,columns=dataset.feature_names)
target = pd.DataFrame(target)

In [23]:
from sklearn.datasets import load_iris

In [46]:
dataset.describe()

dataset1.describe()

                0
count  442.000000
mean   152.133484
std     77.093005
min     25.000000
25%     87.000000
50%    140.500000
75%    211.500000
max    346.000000

In [27]:
import seaborn as sns

In [66]:
X=data
Y=target
print(X.shape)
print(Y.shape)

(442, 10)
(442, 1)

In [67]:
from sklearn.model_selection import train_test_split
(X_train, X_test, y_train, y_test) = train_test_split(X,Y,test_size=0.15)

In [68]:
(X_train, X_val, y_train, y_val) = train_test_split(X_train,y_train,test_size=0.15)

In [69]:
from sklearn.linear_model import LinearRegression

In [72]:
reg = LinearRegression().fit(X, Y)
reg.score(X, Y)

0.5177494254132934

In [74]:
from sklearn.naive_bayes import GaussianNB